{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <form method="post" action="{{ action }}" novalidate="novalidate" enctype="multipart/form-data">

            {{ form_rest(form) }}


            <div><input type="submit" value="Guardar"></div>
        </form>
    </div>
{% endblock %}