{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="stroke">Nuestros Servicios</h1>
    <hr>
    <div class="panel">
        <p style="opacity: 1;">
            Lorem ipsum asjdkfnlaiusdbfyukracjbfnwgeuyxgrmafuafhx
            asdfasdfasdfasdfa
            sadfasdfsadf
            asdfasdfdssssssssssssssssssssssssss
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.412396463986!2d2.088156314984562!3d41.321644979270204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49eea0544d3fb%3A0x66ac7e1c9dfbf1e4!2sCICLOS+PRAT!5e0!3m2!1ses!2ses!4v1496285177349" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
{% endblock %}