{% extends '::base.html.twig' %}

{% block body %}
    <header id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill imagen1" style="width: 1140px; height: 500px;"></div>
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill imagen2" style="width: 1140px; height: 500px;"></div>
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill imagen3" style="width: 1140px; height: 500px;"></div>
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
    </header>

    <!-- jQuery -->
    <script src="../../../../web/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../../web/js/bootstrap.min.js"></script>

    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>
{% endblock %}