{% extends '::base.html.twig' %}


{% block body %}
    <p style="margin-bottom: 10px;"><a class="btn btn-success" href="{{ path('app_bicicleta_listado') }}">Volver</a></p> <br>

    {% for Bicicleta in bicicletas %}
        {{ include('busqueda/indiceBicicleta.html.twig', { 'Bicicleta': Bicicleta }) }}

    {% endfor %}

{% endblock %}