{% extends '::base.html.twig' %}


{% block body %}
    <p style="margin-bottom: 10px;"><a class="btn btn-success" href="{{ path('app_producto_indice') }}">Volver</a></p> <br>

    {% for Producto in productos %}
        {{ include('busqueda/indiceProducto.html.twig', { 'Producto': Producto }) }}

    {% endfor %}

{% endblock %}